@model IEnumerable<tax2.tip_vizova>

@{
    ViewBag.Title = "Тип вызова";
}

<h2>Тип вызова</h2>

<script type="text/javascript">
    $(document).ready(function () {
        CreateDataTable();
    });
</script>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vxod_vixod)
        </th>
        <th></th>
    </tr>
        </thead>

    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vxod_vixod)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
</table>
