@model IEnumerable<tax2.tc>

@{
    ViewBag.Title = "ТС";
}

<h2>ТС</h2>

<script type="text/javascript">
    $(document).ready(function () {
        CreateDataTable();
    });
</script>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marka)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marka)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Редактировать", new { id=item.id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
</table>
